@if (company) {
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle class="mb-2">
        <a href="https://www.kvk.nl/zoeken/" class="text-light" target="new"
          matTooltip="Search in the KVK Database. Click to copy" 
          (click)="copyText(getCompanyProperty(company, 'kvk'))">
          KVK - {{ getCompanyProperty(company, 'kvk') }}
        </a>
        | {{ getIndustryName(getCompanyProperty(company, 'category')) }} 
      </mat-card-subtitle>
      <mat-card-title class="fs-2">{{ getCompanyProperty(company, 'name') }}</mat-card-title>
    </mat-card-header>
    <mat-divider class="my-3"></mat-divider>
    <mat-card-content>
      <p class="fs-4 lh-sm">{{ getCompanyProperty(company, 'description') || 'No description available'}}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <a [href]="getCompanyProperty(company, 'website')" target="_blank" [disabled]="!getCompanyProperty(company, 'website')" 
         [matTooltip]="getCompanyProperty(company, 'website') || 'No website available'" mat-button>
        Company website
      </a>
      <a [href]="url" target="_blank" mat-button>Web search</a>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <p style="color:rgb(105, 105, 105)" class="fs-6 ms-3 mt-2 italic">
      <em>This site may display inaccurate info, so double-check its responses.</em>
    </p>
  </mat-card>
  }
   @else {
<mat-card>
  <mat-card-content class="text-center p-4">
    <h4>
      Nothing to show. <br>Click on a company to view details
    </h4>
  </mat-card-content>
</mat-card>
}