<mat-toolbar>
  <span>Dutch <em class="fs-6">v0.3.0</em></span>
  <span class="spacer"></span>
  <!-- Search bar desktop -->
  <div class="container d-none d-md-block">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="pt-4" #searchForm="ngForm">
          <mat-form-field appearance="fill" class="full-width">
            <input matInput placeholder="Search company name" name="searchTerm" [formControl]="searchTerm">
            @if (searchTerm.value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm.reset(); filterCompanies()">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button (click)="refresh()" matTooltip="Click on this reload data from Github">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="openAboutSheet()" matTooltip="About this website">
    <mat-icon>info</mat-icon>
  </button>
  <a title="Origin data" mat-icon-button matTooltip="The source of the data on this website"
    href="https://ind.nl/en/public-register-recognised-sponsors/public-register-regular-labour-and-highly-skilled-migrants"
    target="new">
    <mat-icon>link</mat-icon>
  </a>
  <a title="source code" mat-icon-button href="https://github.com/seanmavley/dutch" target="new"
    matTooltip="Source code available on Github">
    <mat-icon>code</mat-icon>
  </a>
</mat-toolbar>
<div style="background-color: #810081;" class="py-md-2">
  <div class="container-fluid">
    <!-- Show on Mobile devices -->
    <div class="row justify-content-center d-block d-md-none">
      <div class="col-md-6">
        <form class="pt-4" #searchForm="ngForm">
          <mat-form-field appearance="outline" class="full-width">
            <input matInput placeholder="Search company name" name="searchTerm" [formControl]="searchTerm">
            @if (searchTerm.value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm.reset(); filterCompanies()">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
        </form>
      </div>
      <div class="col-sm-12">
        <section class="text-center">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Filter by industry</mat-label>
            <mat-select (selectionChange)="onCategoryChange($event.value)">
              <mat-option value="all">All</mat-option>
              @for (category of list_of_categories; track $index) {
                <mat-option [value]="category.category.slug">
                  {{ category.category.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </section>
      </div>
    </div>
    <!-- Show on Desktop devices -->
    <div class="row justify-content-center d-none d-md-block mt-3">
      <div class="col-sm-12">
        <section class="text-center">
          <!-- So in 2024, are we saying there's NO better way to do this in Angular 18+ using Angular Material? -->
          <!-- I've tried different ways, such as swapping out the attributes via [attr.mat-flat-button] or [class.mat-flat-button] -->
          <!-- Anyway, below is verbose, but works -->
          <button mat-flat-button *ngIf="activeCategory === 'all'" color="primary" class="me-2 mb-3"
            (click)="filterCompanies()" [disabled]="busy" matTooltip="Show all the companies">All</button>
          <button mat-stroked-button *ngIf="activeCategory !== 'all'" color="primary" class="me-2 mb-3"
            (click)="filterCompanies()" [disabled]="busy">All</button>

          @for (category of list_of_categories; track $index) {
            <button mat-flat-button *ngIf="activeCategory === category.category.slug" color="primary" class="me-2 mb-3"
              (click)="filterCompanies(category.category.slug)" [matTooltip]="category.category.description">
              {{ category.category.name }}
            </button>
            <button mat-stroked-button *ngIf="activeCategory !== category.category.slug" color="primary"
              class="me-2 mb-3" (click)="filterCompanies(category.category.slug)" [matTooltip]="category.category.description">
              {{ category.category.name }}
            </button>
          }
        </section>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar *ngIf="busy" mode="indeterminate"></mat-progress-bar>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened="true" class="d-none d-md-block">
    <mat-toolbar>
      <span>Companies ({{ filteredCompanies?.length || '0' }})</span>
    </mat-toolbar>
    <mat-nav-list>
      <cdk-virtual-scroll-viewport appendOnly itemSize="10" class="desktop-viewport">
        <a mat-list-item (click)="selectCompany(company)" *cdkVirtualFor="let company of filteredCompanies" [activated]="active_company?.id === company?.id">
          <mat-icon matListItemIcon>arrow_right</mat-icon>{{ company.name }}
        </a>
        @if (busy) {
        <a mat-list-item>Loading...</a>
        }
        @if (filteredCompanies?.length === 0) {
        <a mat-list-item>No Companies. Please try another search or category</a>
        }
      </cdk-virtual-scroll-viewport>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <!-- Shows on Mobile devices -->
    <div class="container mt-4 d-block d-md-none">
      <div class="ms-3 my-2">Companies ({{ filteredCompanies?.length || '0' }})</div>
      <div class="row justify-content-center">
        <mat-nav-list>
          <cdk-virtual-scroll-viewport appendOnly itemSize="10" class="mobile-viewport">
            <a mat-list-item (click)="openCompanyCard(company)" *cdkVirtualFor="let company of filteredCompanies" [activated]="active_company?.id === company?.id">
              <mat-icon matListItemIcon>arrow_right</mat-icon>{{ company.name }}
            </a>
            @if (busy) {
            <a mat-list-item>Loading...</a>
            }
            @if (filteredCompanies?.length === 0) {
            <a mat-list-item>No Companies. Please try another search or category</a>
            }
          </cdk-virtual-scroll-viewport>

        </mat-nav-list>
      </div>
    </div>

    <!-- Shows on Desktop devices -->
    <div class="container mt-5 d-none d-md-block">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <app-card [company]="active_company"></app-card>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>