.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
}

.scrollup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}