<mat-toolbar class="">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <form class="pt-4">
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Search">
    </mat-form-field>
  </form>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container mt-4 mb-2">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <section class="text-center">
        <button mat-flat-button color="primary" class="me-2 mb-3">All</button>
        @for (company of list_of_industries; track $index) {
        <button mat-stroked-button color="primary" class="me-2 mb-3">{{ company.name }}</button>
        }
      </section>
    </div>
  </div>
</div>

<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<mat-drawer-container style="height: 100vh;">
  <!-- In the Drawer -->
  <mat-drawer #drawer mode="side" opened="true">
    <!-- Mobile Toolbar -->
    <mat-toolbar>
      <span>Companies</span>
    </mat-toolbar>
    <mat-nav-list>
      @for (org of list_of_companies; track $index) {
      <a mat-list-item (click)="selectCompany(org)">
        <mat-icon matListItemIcon>arrow_right</mat-icon>{{org.name}}</a>
      }
    </mat-nav-list>
  </mat-drawer>

  <!-- In the Content -->
  <mat-drawer-content>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <app-card [company]="selected_company"></app-card>
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>