<section>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 text-center">
        <h4>Project Dutch</h4>
        <p>
          I'm <a href="https://khophi.co" target="new">KhoPhi</a>. I started this page to help sift through the <a href="https://ind.nl/en/public-register-recognised-sponsors/public-register-regular-labour-and-highly-skilled-migrants" target="new">Public Register Regular Labour and Highly Skilled Migrants</a> website, which lists all the Dutch organizations that offer visa sponsorship for jobs.
        </p>
        <p>As a non-Dutch, it was hard for me to know which organizations are tech-related, thus apply for a role.</p>
        <p>This application takes all the 11,000-ish organizations listed on the PRRLHSM site, and categorizes them in a way one can quickly list and search through.</p>
        <p>
          The source code for this project is <a href="https://github.com/seanmavley/dutch" target="new">available on Github</a>
        </p>
        <p class="fs-6 mt-5">
          version 0.0.1
        </p>
      </div>
    </div>
  </div>
</section>