<section>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h4>Project</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam delectus ab reprehenderit itaque, non excepturi. Eius cupiditate, nostrum reprehenderit provident architecto est explicabo labore nemo aliquid sunt ratione. Maxime, omnis.
        </p>
        <p class="fs-6 mt-5">
          version 0.0.1
        </p>
      </div>
    </div>
  </div>
</section>